<div class="row">
    <div class="col-md-12">
        <!-- <h3><span class="label label-primary">Elenco fonti inserite nel Crawler: </span>
        </h3> -->

    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Fonti Crawler:

                </h3>
            </div>
            <div class="panel-body">
                <div class="panel-title">
                    <h3><span class="label label-primary">Elenco fonti inserite nel Crawler: </span>
                    </h3>

                    <app-sito [sito]="sito" class="" *ngFor="let sito of siti">
                    </app-sito>
                </div>
            </div>

        </div>
    </div>

    <!--  -->