<div class="alert alert-info" role="alert">
    <h3>{{progetto.name}}</h3>
    <!-- <h3>Crawler Biblò</h3> -->
</div>

<app-words [progetto]="progetto" [words]="progetto.words"></app-words>
<!-- <app-add-fonte></app-add-fonte> -->

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Fonti sotto progetto</h3>
            </div>
            <div class="panel-body">
                <app-add-fonte></app-add-fonte>
                <h3><span class="label label-primary">Elenco fonti inserite nel sotto progetto: </span>
                </h3>

                <ul class="list-group">
                    <li class="list-group-item">
                        <app-fonte [indiceFonte]="i" [sito]="sito" class="" *ngFor="let sito of progetto.sito; let i = index"></app-fonte>
                    </li>

                </ul>
                <app-add-fonte [progetto]="progetto"></app-add-fonte>
            </div>
        </div>
    </div>
</div>