<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Progetto:</h3>
                </div>
                <div class="panel-body">



                    <div class="row">
                        <div class="col-md-2">
                            <h3><span class="label label-primary">Nome: </span>
                            </h3>
                        </div>
                        <div class="col-md-1 col-md-offset-9">
                            <h3>
                                <button type="button" class="btn btn-success">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
                            </button>
                            </h3>
                        </div>
                    </div>

                    <app-progetto-viewer [progetto]="progetto" class="" *ngFor="let progetto of progetti">
                    </app-progetto-viewer>
                </div>
            </div>


        </div>
    </div>

    <app-lista-siti></app-lista-siti>

</div>