<nav>
    <ul>

        <li id="progetto" routerLinkActive="active">
            <a (click)="goProgetto()">Progetto</a>
            <!-- <a [routerLink]="['/progetto']">Progetto</a> -->
        </li>
        <li id="validazione" routerLinkActive="active">
            <a (click)="goValidate()">Validazione</a>
            <!-- <a [routerLink]="['/home/fisica']">Validazione</a> -->
        </li>
        <li id="frontend" routerLinkActive="active">
            <a (click)="goFrontEnd()">FrontEnd</a>
            <!-- <a [routerLink]="['/esterno']">FrontEnd</a> -->
        </li>
        <li style="float:right"><a class="active" href="#about">Benvenuto</a></li>


    </ul>

</nav>
<hr>