<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Progetto in validazione:</h3>
    </div>
    <div class="panel-body">
        <h3> <span class="label label-primary">{{crawler.name}}</span></h3>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sotto progetto in validazione:</h3>
    </div>
    <div class="panel-body">
        <h3> <span class="label label-primary">{{progetto.name}}</span></h3>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Keywords indicizzate</h3>
    </div>
    <div class="panel-body">
        <h3>
            <h3 *ngFor="let word of this.progettoService.progetto.words" class="label label-primary" [ngStyle]="{'cursor': change_mouse}" [style.color]="(search_word == word) ? 'black' : 'white'" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)"
                (mouseup)="doSearch(word)">{{word}}

            </h3>

        </h3>

    </div>
</div>


<hr>


<div class="row">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<app-postlogin [length_word]="words?.length" [index_word]="i" [word]="word" [itemsPerPage]="10" [page]="p" *ngFor="let word of words | paginate: { itemsPerPage: 10, currentPage: p }; let i=index ">


</app-postlogin>
<div class="row">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<!-- <app-dettaglio></app-dettaglio> -->