<div class="col-xs-12">

    <h3>
        <span *ngFor="let word of this.progettoService.progetti[0].words" class="label label-primary" [ngStyle]="{'cursor': change_mouse}" [style.color]="(search_word== word) ? 'black' : 'white'" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)"
            (mouseup)="doSearch(word)">{{word}}</span>


    </h3>
    <hr>
</div>

<div class="row">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<app-postlogin [length_word]="words?.length" [index_word]="i" [word]="word" [itemsPerPage]="10" [page]="p" *ngFor="let word of words | paginate: { itemsPerPage: 10, currentPage: p }; let i=index ">


</app-postlogin>
<div class="row">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<!-- <app-dettaglio></app-dettaglio> -->